# .gitignore

# trash
ShadowGram/.vs/
ShadowGram/out/

# secret
ShadowGram/MessengerServer/src/config.json

# showing code
project_output.txt
ShadowGram/collect_code.ps1

# client
ShadowGram/MessengerClient/